*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --pry-yellow: #FFBC01;
}

main{
    width: 91vw;
    background-color: black;
    margin: auto;
}

.top-main{
    display: flex;
    border: 1px solid red;
    justify-content: space-between;
    color: #fff;
}

.circle{
    border-radius: 50%;
    background-color: ;
}